<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925469544739-nm00jf2pg8uiiac3u930is4nvbhjd1n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925469544739-nm00jf2pg8uiiac3u930is4nvbhjd1n5</string>
	<key>API_KEY</key>
	<string>AIzaSyDbBDMknx0iBdJ2KdHaCykseRwo13QmXLg</string>
	<key>GCM_SENDER_ID</key>
	<string>925469544739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myungsun.GoodDayApplication</string>
	<key>PROJECT_ID</key>
	<string>capstonedesign-7ade2</string>
	<key>STORAGE_BUCKET</key>
	<string>capstonedesign-7ade2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925469544739:ios:b0de0632a16cbf2f8c7c96</string>
</dict>
</plist>